* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 0, 68);
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: solid 4px yellow;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 58px;
  height: 52px;
  position: relative;
}

.black {
  background-color: rgb(97, 97, 252);
}

.white {
  background-color: rgb(218, 189, 253);
}

.selected {
  background-color: aqua;
}

.avaliable {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: blueviolet;
}
